#navbar1{
    margin-left:70%;
    
}
#navbar1 button{
    margin:6px;
}
.nav-app{
    margin-left:5%;
}
  
.container-nav{
    width: 100%;
    margin-top:0;
    margin-right: 0;
    padding-left: 0;
    padding-right:0;
}


