.login-flex{
    display:flex;
    flex-direction:column;
    
}
.msg-notice{
    margin-left:20rem;
    margin-top: 2rem;
    width:25rem;
    padding:1rem;
    border: 1px solid #c96a6a;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d6c8c8;
}
.msg-notice button{
    width: 2rem;
    height: 2rem;
    background-color: #df4343;
    color: #ffffff;
}
